<div class="contextual">
  <%= form_tag({}, :method => :get) do %>
  <% end %>
  <%= render_project_action_links %>
</div>

<h2><%= @query.new_record? ? l(:label_project_plural) : @query.name %></h2>

<%= form_tag(projects_path(@project, nil), :method => :get, :id => 'query_form') do %>
<%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @entries.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
  <%= render :partial => @query.display_type, :locals => { :entries => @entries.sort_by! { |project| project.identifier.to_i  }}%>
  <% end %>
<% end %>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="icon icon-user my-project"><%= l(:label_my_projects) %></span>
<span class="icon icon-bookmarked-project"><%= l(:label_my_bookmarks) %></span>
</p>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/sidebar' %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.atom_key} %>
  <% if @query.display_type == 'list' %>
    <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
  <% end %>
<% end %>

<% html_title(l(:label_project_plural)) -%>

<script>
$(document).ready(function() {
  $('tr.odd, tr.even').each(function() {
    var startAt = $(this).find('.cf_11').text();
    var endAt = $(this).find('.cf_12').text();
    var currentDate = new Date();
    var partsStart = startAt.split("/");
    var partsEnd = endAt.split("/");
    var formattedStartDate = new Date(partsStart[2], partsStart[1] - 1, partsStart[0]);
    var formattedEndDate = new Date(partsEnd[2], partsEnd[1] - 1, partsEnd[0]);

    if (formattedEndDate == 'Invalid Date') {
      $(this).find('td').css('background-color', "inherit");
    } else {
      var timeDiff = Math.abs(formattedEndDate.getTime() - currentDate.getTime());
      var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
      var totalDays = Math.ceil((formattedEndDate.getTime() - formattedStartDate.getTime()) / (1000 * 3600 * 24));
      var percentage = (diffDays / totalDays) * 100;
      console.log(diffDays);
      console.log(totalDays);
console.log(percentage);
      if (formattedEndDate < currentDate) {
        $(this).find('td').css('background-color', "rgba(255, 0, 0, 0.3)");
      } else if (formattedEndDate > currentDate && (percentage <  20)) {
        $(this).find('td').css('background-color', "rgba(255, 165, 0, 0.3)"); // Amber color
      } else {
        $(this).find('td').css('background-color', "rgba(0, 255, 0, 0.3)");
      }
    }
  });
});
</script>
