<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="box-tabular">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <h2><strong>Overview</strong></h2>
      <% if @business_requirement.description.present? %>
        <span> <%= textilizable @business_requirement.description %></span>
      <% end %>

      <% if @business_requirement.created_at.present? %>
        <li><span class="label">Created At: <%= @business_requirement.created_at.strftime("%d %b %Y") %></span></li>
      <% end %>
    <% owner = User.find_by(id: ActivityLog.find_by(entity_type: "BusinessRequirement", entity_id: @business_requirement.id, field_name: "Create")&.author_id) %>
    <% if owner.present? %>
      <li><span class="label">Created By: <%= "#{owner.firstname} #{owner.lastname}" %></span></li>
    <% end %>
    <% if @business_requirement.requirement_case.present? %>
      <li><span class="label">Requirement Case: <%= @business_requirement.requirement_case %></span></li>
    <% end %>
    
    <% if @business_requirement.identifier.present? %>
      <li><span class="label">Identifier: <%= @business_requirement.identifier %></span></li>
    <% end %>
    
    <% if @business_requirement.project_identifier.present? %>
      <li><span class="label">Project Identifier: <%=  link_to @business_requirement.requirement_case, project_path(@business_requirement.project_identifier) %></span></li>
    <% end %>
    
    <% if @business_requirement.business_benefit_data.present? %>
      <li><strong>Business Benefit Details:</strong>
        <ul>
          <% @business_requirement.business_benefit_data.each do |category, fields| %>
            <% if fields.present? && fields.values.any?(&:present?) %>
              <li>
                <strong><%= category.to_s.humanize %>:</strong>
                <ul>
                  <% fields.each do |field, value| %>
                    <% if value.present? %>
                      <li><%= field.to_s.humanize %>: <%= value %></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>

    
    <% if @business_requirement.cost_benefits.present? %>
      <li><span class="label">Cost Benefits: <%= @business_requirement.cost_benefits %></span></li>
    <% end %>
    
    <% if @business_requirement.status.present? %>
      <li><span class="label">Status: <%= BusinessRequirement::STATUS_MAP[@business_requirement.status] %></span></li>
    <% end %>
    
    <% if @business_requirement.project_sponsor.present? %>
      <li><span class="label">Project Sponsor: <%= @business_requirement.project_sponsor %></span></li>
    <% end %>
    
    <% if @business_requirement.requirement_submitted_date.present? %>
      <li><span class="label">Requirement Submitted Date: <%= @business_requirement.requirement_submitted_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.scheduled_end_date.present? %>
      <li><span class="label">Scheduled End Date: <%= @business_requirement.scheduled_end_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.actual_start_date.present? %>
      <li><span class="label">Actual Start Date: <%= @business_requirement.actual_start_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.actual_end_date.present? %>
      <li><span class="label">Actual End Date: <%= @business_requirement.actual_end_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.revised_end_date.present? %>
      <li><span class="label">Revised End Date: <%= @business_requirement.revised_end_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.business_need_as_per_business_case.present? %>
      <li><span class="label">Business Need As Per Business Case: <%= @business_requirement.business_need_as_per_business_case %></span></li>
    <% end %>
    
    <% if @business_requirement.planned_project_go_live_date.present? %>
      <li><span class="label">Planned Project Go-Live Date: <%= @business_requirement.planned_project_go_live_date.strftime("%d %b %Y") %></span></li>
    <% end %>
    
    <% if @business_requirement.project_category.present? %>
      <li><span class="label">Project Category: <%= @business_requirement.project_category %></span></li>
    <% end %>
    
    <% if @business_requirement.priority_level.present? %>
      <li><span class="label">Priority Level: <%= @business_requirement.priority_level %></span></li>
    <% end %>
    
    <% if @business_requirement.vendor_name.present? %>
      <li><span class="label">Vendor Name: <%= @business_requirement.vendor_name %></span></li>
    <% end %>
    
    <% if @business_requirement.project_enhancement.present? %>
      <li><span class="label">Project/Enhancement: <%= @business_requirement.project_enhancement %></span></li>
    <% end %>
    
    <% if @business_requirement.template.present? %>
      <li><span class="label">Template: <%= @business_requirement.template %></span></li>
    <% end %>
    
    <% if @business_requirement.portfolio_category.present? %>
      <li><span class="label">Portfolio Category: <%= @business_requirement.portfolio_category.is_a?(Array) ? @business_requirement.portfolio_category.reject(&:blank?).join(', ') : @business_requirement.portfolio_category %></span></li>
    <% end %>
    
    <% if @business_requirement.requirement_received_from.present? %>
      <li><span class="label">Requirement Received From: <%= @business_requirement.requirement_received_from.is_a?(Array) ? @business_requirement.requirement_received_from.reject(&:blank?).join(', ') : @business_requirement.requirement_received_from %></span></li>
    <% end %>
    
    <% if @business_requirement.application_name.present? %>
      <li><span class="label">Application Name: <%= @business_requirement.application_name.is_a?(Array) ? @business_requirement.application_name.reject(&:blank?).join(', ') : @business_requirement.application_name %></span></li>
    <% end %>
    
        <h3>Attachments</h3>
        <ul>
          <% @business_requirement.attachments.each do |attachment| %>
            <li>
              <%= link_to attachment.filename, attachment_path(attachment) %>  |
              <%= link_to 'Delete', attachment_path(attachment), method: :delete, class: 'btn btn-warning btn-sm', title: 'Delete Attachment' %> 
            </li>
          <% end %>
        </ul>
        <% if  @business_requirement.status != 7 &&  @business_requirement.status != 8 %>
          <%= link_to 'Edit', edit_business_requirement_path(@business_requirement), class: 'btn btn-warning btn-sm', title: 'Edit business_requirementD' %> 
          <% user_stakeholders = @business_requirement.br_stakeholders.where(user_id: User.current.id) %>
            <% pmo_role_present = user_stakeholders.any? { |stakeholder| stakeholder.role.name == 'PMO' } %>

            <% if pmo_role_present %>
          |
          <%= link_to 'Delete', business_requirement_path(@business_requirement), method: :delete, class: 'btn btn-warning btn-sm', title: 'Delete business_requirementD' %>  |
          <% end %>
        <% end %>
                  <%= link_to 'Edit', edit_business_requirement_path(@business_requirement), class: 'btn btn-warning btn-sm', title: 'Edit business_requirementD' %> 
        <%= link_to "Hold", "#", class: 'btn btn-primary', id: "holdLink" %>
        <%= link_to "Decline", "#", class: 'btn btn-primary', id: "declineLink" %>
        <%= link_to "Awaiting Details", "#", class: 'btn btn-primary', id: "awaitingDetailsLink" %>
        <%= link_to "Awaiting Business Case", "#", class: 'btn btn-primary', id: "awaitingBusinessCaseLink" %>
        <%= link_to "In Discussion", "#", class: 'btn btn-primary', id: "inDiscussionLink" %>
        <%= link_to "Requirement Finalized", "#", class: 'btn btn-primary', id: "requirementFinalizedLink" %>
        <%= link_to "Accept", "#", class: 'btn btn-success btn-sm', id: "acceptLink", title: "Accept Business Requirement" %>
        <%= link_to 'Dashboard', business_requirements_path, class: 'btn btn-secondary' %>
    </div>

    <!-- Second Part: Meetings Table (Right) -->
    <div class="splitcontentright">
      <% if @business_requirement.br_stakeholders.any? %>
          <div class="members box">
              <h3 class="icon icon-group"><%= l(:label_member_plural) %></h3>
              <% @business_requirement.br_stakeholders.group_by(&:role_id).each do |role_id, stackholders| %>
                  <% role_name = Role.find(role_id).name %>
                  <p>
                      <strong><%= role_name %></strong> - 
                      <%= stackholders.map { |stackholder| stackholder&.user&.name }.join(', ') %>
                  </p>
              <% end %>
          </div>
      <% end %>

        <% if @business_requirement.status_logs.any? %>
        <div class="news box">
          <h3>Status Log</h3>
          <table>
            <thead>
              <tr>
                <th>Status</th>
                <th>Reason</th>
                <th>Author</th>
                <th>Updated At</th>
              </tr>
            </thead>
            <tbody>
              <% @business_requirement.status_logs.order(created_at: :desc).each do |log| %>
                <tr>
                  <td style="width: 50px;"><%= BusinessRequirement::STATUS_MAP[log&.status] %></td>
                  <td style="width: 50px;"><%= log&.reason %></td>
                  <td style="width: 50px;"><%= log&.updated_by %></td>
                  <td style="width: 50px;"><%= log&.created_at&.in_time_zone("Asia/Kolkata")&.strftime("%-d %b %y %H:%M") %></td>
                </tr>
              <% end %> 
            </tbody>
          </table>
        </div>
      <% end %>
      <h2><strong>Meetings</strong></h2>
      <div class="d-flex justify-content-end">
        <% if  @business_requirement.status != 7 &&  @business_requirement.status != 8 %>
          <%= link_to 'Schedule New Meeting', new_business_requirement_meeting_path(@business_requirement), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Attendees</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @business_requirement.meetings.blank? %>
            <tr><td colspan=6 style="text-align: center">No recorods to Display</td></tr>
          <% else %>
            <% @business_requirement.meetings.each do |meeting| %>
              <tr>
                <td><%= meeting.title %></td>
                <td><%= meeting.scheduled_at.strftime("%d %b %Y") %></td>
                <td>
                  <% meeting.meeting_attendees.each do |attendee| %>
                    <p><%= attendee&.user&.name %></p>
                  <% end %>
                </td>
                <td>
                  <%= link_to 'Show', business_requirement_meeting_path(@business_requirement, meeting), class: 'btn btn-info btn-sm', title: 'Show Meeting' %>
                  
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
<div id="holdModal" class="modal1">
<div class="modal-content1">
  <span class="close">&times;</span>
  <h2>Business Requirement on hold</h2>
  <form id="holdForm" action="<%= hold_business_requirement_path(@business_requirement) %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="holdRemarks">Reason to Hold<sup>*</sup>:</label>
    <textarea id="holdRemarks" name="remarks" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
<div id="declineModal" class="modal1">
<div class="modal-content1">
  <span class="close">&times;</span>
  <h2>Business Requirement on decline</h2>
  <form id="declineForm" action="<%= decline_business_requirement_path(@business_requirement) %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="declineRemarks">Reason to decline<sup>*</sup>:</label>
    <textarea id="declineRemarks" name="remarks" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
<!-- Accept Modal -->
<div id="acceptModal" class="modal1">
  <div class="modal-content2">
    <span class="close">&times;</span>
    <h2>Accept Business Requirement</h2>
    <div class="modal-body" >
      <form id="acceptForm" action="<%= accept_business_requirement_path(@business_requirement) %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        
        <% if @business_requirement.requirement_case.blank? %>
          <label for="requirementCase">Requirement Case<sup>*</sup>:</label>
          <input type="text" id="requirementCase" name="business_requirement[requirement_case]" class="form-control" placeholder="Enter the requirement case" >
        <% end %>
        <% if @business_requirement.identifier.blank? %>
          <label for="identifier">Identifier:</label>
          <input type="text" id="identifier" name="business_requirement[identifier]" class="form-control" placeholder="Generated automatically" disabled>
        <% end %>
        <% if @business_requirement.description.blank? %>
          <label for="description">Description<sup>*</sup>:</label>
          <textarea id="description" name="business_requirement[description]" class="form-control" rows="4" placeholder="Describe the Business Requirement" ></textarea>
        <% end %>

        <% if @business_requirement.cost_benefits.blank? %>
          <label for="costBenefits">Cost Benefits:</label>
          <input type="text" id="costBenefits" name="business_requirement[cost_benefits]" class="form-control" placeholder="Enter the cost benefits">
        <% end %>

        <% if @business_requirement.status.blank? %>
        <label for="status">Status:</label>
        <select id="status" name="business_requirement[status]" class="form-control">
          <%= options_for_select(BusinessRequirement::STATUS_MAP.map { |k, v| [v, k] }) %>
        </select>
        <% end %>
        <% if @business_requirement.project_category.blank? %>
          <label for="projectCategory">Project Category<sup>*</sup>:</label>
          <select id="projectCategory" name="business_requirement[requiremenproject_categoryt_submitted_date]" class="form-control" >
            <%= options_for_select([['', '']] + (@project_categories.presence&.map { |c| [c, c] } || []), @business_requirement.project_category)  %>
          </select>
          <p class="text-danger">This field is required.</p>
        <% end %>
        <% if @business_requirement.priority_level.blank? %>
          <label for="priorityLevel">Priority Level<sup>*</sup>:</label>
          <select id="priorityLevel" name="business_requirement[priority_level]" class="form-control" >
          <%= options_for_select([['', '']] + (@priority_level.presence&.map { |level| [level, level] } || []), @business_requirement.priority_level) %>
          </select>
          <p class="text-danger">This field is required.</p>
        <% end %>
    
        <% if @business_requirement.requirement_received_from.blank? %>
          <label for="requirementReceivedFrom">Requirement Received From<sup>*</sup>:</label>
          <select id="requirementReceivedFrom" name="business_requirement[requirement_received_from][]" class="form-control" multiple required >
          <%= options_for_select([['', '']] + (@requirement_received_from.presence&.map { |level| [level, level] } || []), @business_requirement.requirement_received_from) %>
          </select>
          <p class="text-danger">This field is required.</p>
        <% end %>

        <% if @business_requirement.requirement_submitted_date.blank? %>
          <label for="requirementSubmittedDate">Requirement Submitted Date<sup>*</sup>:</label>
          <input type="date" id="requirementSubmittedDate" name="business_requirement[requirement_submitted_date]" class="form-control">
        <% end %>

        <% if @business_requirement.business_need_as_per_business_case.blank? %>
          <label for="businessNeed">Business Need<sup>*</sup>:</label>
          <textarea id="businessNeed" name="business_requirement[business_need_as_per_business_case]" class="form-control" rows="2" placeholder="State the business need here" ></textarea>
        <% end %>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<style>
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}
th {
  background-color: #f2f2f2;
}
label > sup {
  color: #ff0000; /* Red color */
  font-size: 12px; /* Smaller font size */
  vertical-align: super; /* Align as superscript */
}
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  font-weight: bold;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
h2 {
  font-weight: bold;
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #0065ff; /* Blue background */
  color: #fff; /* White text */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 29%; /* Smaller width */
  height: 33%;
  border-radius: 10px; /* Rounded corners */
}


/* Modal Content/Box */
.modal-content2 {
  position: fixed;
  background-color: #0065ff; /* Blue background */
  color: #fff; /* White text */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 29%; /* Smaller width */
  height: 70%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px; /* Rounded corners */
}
/* Scrollable Body */
.modal-body {
  flex: 1;
  overflow-y: auto;
  max-height: 60vh; /* Adjust as needed */
  padding-right: 10px; /* Prevent scrollbar overlap */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff; /* White text on hover */
  text-decoration: none;
  cursor: pointer;
}
#remarks {
  width: 100%;
  height: 80px; /* Adjust the height as needed */
}

/* Form Styles */
#holdForm, #declineForm, #acceptForm {
  display: flex;
  flex-direction: column;
}


#holdForm label, #declineForm label,
#acceptForm label{
  margin-bottom: 8px;
}

#holdForm textarea, #declineForm textarea,
#acceptForm textarea {
  margin-bottom: 12px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  display: flex;
  width: 360px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  resize: none; 
}

#holdForm button, #declineForm button, #acceptForm button {
  background-color: #0051cc;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}

#remarks:required:invalid {
  border-color: #ff0000; /* Red color */
}

#holdForm button:hover, #declineForm button:hover,
#acceptForm button:hover {
  background-color: #0000FF;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

.btn {
  margin-right: 5px;
}
</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
console.log("DOM fully loaded and parsed");

// Get modals and buttons
var modals = {
  hold: document.getElementById("holdModal"),
  decline: document.getElementById("declineModal"),
  accept: document.getElementById("acceptModal")
};

var links = {
  hold: document.getElementById("holdLink"),
  decline: document.getElementById("declineLink"),
  accept: document.getElementById("acceptLink") 
};

console.log("Modals:", modals);
console.log("Links:", links);

// Open modals
Object.keys(links).forEach(key => {
  if (links[key] && modals[key]) { // Check if both the link and modal exist
    links[key].onclick = function () {
      console.log(key + " link clicked");
      modals[key].style.display = "block";
    }
  } else {
    console.log(key + " link or modal is null");
  }
});

// Close modals on span click
var spans = document.getElementsByClassName("close");
Array.prototype.forEach.call(spans, function (span) {
  span.onclick = function () {
    Object.keys(modals).forEach(key => {
      if (modals[key]) {
        modals[key].style.display = "none";
      }
    });
  };
});

// Close modals on outside click
window.onclick = function (event) {
  Object.keys(modals).forEach(key => {
    if (modals[key] && event.target == modals[key]) {
      modals[key].style.display = "none";
    }
  });
}
});



</script>