<% author_id = @issue.author_id 
author = User.find_by(id: author_id)
assigned_to_id = @issue.assigned_to_id 
assignee = User.find_by(id: assigned_to_id) %>
<h1>Project task has been sent back to the <%= user.name %></h1>

<p>Project task Subject: <%= @issue.subject %></p>
<p>Project Name: <%= @issue.project.name %></p>
<p>Status: <%= @issue.status.name %></p>
<p>Task: <%= @issue.tracker.name %></p>
<p>Assignee: <%= assignee.name %></p>
<p>Priority Level: <%= custom_function('Priority Level') %></p>
<p>Start Date: <%= @issue.start_date&.strftime("%Y-%m-%d") || 'Not set' %></p>
<p>Due Date: <%= @issue.due_date&.strftime("%Y-%m-%d") || 'Not set' %></p>
<p>Remarks: <%= custom_field = CustomField.find_by(type: "IssueCustomField", name: "Remarks")
custom_value = CustomValue.find_or_create_by(customized_type: "Issue", customized_id: @issue.id, custom_field_id: custom_field&.id)
custom_value&.value  %></p>
<p>Project Members:</p>
<ul>
  <% @members.each do |member| %>
    <% role_id = MemberRole.find_by(member_id: member.id)&.role_id %>
    <% role = Role.find_by(id: role_id) %>
    <li><%= "#{member.user.name} (
      #{role&.name || 'Not assigned'})" %></li>
  <% end %>
</ul>

<p>Please log in to ProjectHUB to view and manage the issue details.</p>
<p><a href="<%= https://projecthub.hdbfs.com/#{@issue.id} %>" class="link">ProjectHUB</a></p>
<p>Best Regards</p>
