<% def custom_function(field_name)
    custom_field = CustomField.find_by(name: field_name)
    return unless custom_field # Exit if custom field not found
    
    custom_value = CustomValue.find_by(customized_type: "Project", customized_id: @project&.id, custom_field_id: custom_field.id)
    return unless custom_value # Exit if custom value not found
    
    custom_field_enumeration = CustomFieldEnumeration.find_by(id: custom_value.value&.to_i)
    custom_field_enumeration&.name
end %>

<% def custom_function_date(field_name)
    custom_field = CustomField.find_by(name: field_name)
    return unless custom_field # Exit if custom field not found
    
    custom_value = CustomValue.find_by(customized_type: "Project", customized_id: @project&.id, custom_field_id: custom_field.id)
    custom_value&.value # No need for further processing, return the value directly
end %>
<h1><%= link_to(@news.title, @news_url) %></h1>
<em><%= @news.author.name %></em>

<%= textilizable(@news, :description, :only_path => false) %>
<h2>Project Details:</h2>
<ul>
  <li><strong>Name:</strong> <%= @project.name %></li>
  <li><strong>Description:</strong> <%= @project.description %></li>
  <li><strong>Status:</strong> @project_status</li>
  <li><strong>Priority Level:</strong> <%= custom_function('Priority Level') %></li>
  <li><strong>Planned Go Live Date:</strong>  <%= custom_function_date('Planned Go Live Date')</li>
  <li><strong>Start Date:</strong> <%= custom_function_date('Start at') %></li>
  <li><strong>End Date:</strong> <%= custom_function_date('Due Date') %> </li>
  <p><a href="<%= https://projecthub.hdbfs.com/#{@issue.id} %>" class="link">ProjectHUB</a></p>
</ul>
<% if @news.attachments.any? -%>
<fieldset class="attachments"><legend><%= l(:label_attachment_plural) %></legend>
<% @news.attachments.each do |attachment| -%>
  <%= link_to_attachment attachment, :download => true, :only_path => false %> (<%= number_to_human_size(attachment.filesize) %>)<br />
<% end -%>
</fieldset>
<% end -%>